<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >  <!-- parallel = "test" thread-count = "2" -->
  <test name="Pizza Order" >
    <classes>
      <class  name="pizzaOrder.DemoTest"/>
        </classes>
          </test>
</suite>
